/* Custom CSS */

/* Header */
header {
  padding: 0 0.25rem;
}

/* Bootstrap Fix */
.row {
  padding: 0 1.25rem;
}

/* Main Content */
.content {
  padding: 2.5rem 0;
}
h3 {
  color: #8546b5;
}

body, html {
  color: rgb(206, 206, 206);
  font-family: times;
}

h1 {
  color: rgba(119, 23, 128, 0.788);
}
header {
  border: 2px solid rgb(28, 33, 61);
}

h2 {
  color:rgba(255, 179, 128, 0.788)
}

.container-fluid, body, html {
  background-color: rgb(43, 50, 94);
}
.center-text {
  text-align: center;
}

.pads {
  padding-left: 15rem;
  padding-right: 15rem;
}
.navbar .navbar-expand-md .navbar-light, header {
  background-color:rgb(37, 42, 80);
}
a.new-color {
  color:rgb(206, 206, 206) !important;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
}
a.new-color:hover {
  opacity: 0.8;
}

a:link {
  color: rgb(175, 204, 236);
}
a:visited {
  color:rgb(175, 204, 236);
}
a:hover {
  color:rgb(124, 181, 241);
}




