/* Custom CSS */

/* Header */
header {
  padding: 0 0.25rem;
}

/* Bootstrap Fix */
.row {
  padding: 0 1.25rem;
}

/* Main Content */
.content {
  padding: 2.5rem 0;
}
h3 {
  color: #8546b5;
}

body, html {
  color: rgb(206, 206, 206);
  font-family: times;
}
h1 {
  color: rgba(119, 23, 128, 0.788)
}
header {
  border: 2px solid rgb(23, 27, 51);
}

h2 {
  color:rgba(255, 179, 128, 0.788)
}

.container-fluid, body, html {
  background-color: rgb(23, 27, 51);
}
.center-text {
  text-align: center;
}

.pads {
  padding-left: 10rem;
  padding-right: 10rem;
}
.navbar .navbar-expand-md .navbar-light, header {
  background-color: red;
}
a.new-color {
  color: red !important;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
}
a.new-color:hover {
  opacity: 0.8;
}
